<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{{issue title}}</title>
    <link rel="stylesheet" href="./style/issue.css">
</head>

<body>
{{header extra}}
<div class="repository_header">
    <span class="repository_mark_wrapper" aria-hidden="true"><svg class="repository_mark" viewBox="0 0 16 16"><path d="M8 0a8 8 0 0 0-2.53 15.59c.4.07.55-.17.55-.38v-1.34c-2.23.49-2.7-1.08-2.7-1.08-.36-.93-.89-1.18-.89-1.18-.73-.5.06-.49.06-.49.81.06 1.24.83 1.24.83.72 1.24 1.88.88 2.34.67.07-.52.28-.88.51-1.08-1.78-.2-3.65-.89-3.65-3.96 0-.87.31-1.58.83-2.14-.08-.2-.36-1.01.08-2.11 0 0 .68-.22 2.2.82A7.66 7.66 0 0 1 8 4.35c.69 0 1.39.09 2.04.27 1.52-1.04 2.2-.82 2.2-.82.44 1.1.16 1.91.08 2.11.52.56.83 1.27.83 2.14 0 3.08-1.87 3.76-3.65 3.96.29.25.54.73.54 1.48v2.19c0 .21.15.46.55.38A8 8 0 0 0 8 0Z"/></svg></span>
    <span class="repository_owner">{{repository owner}}</span>
    <span class="repository_separator">/</span>
    <strong class="repository_name">{{repository name}}</strong>
    <span class="repository_chevron" aria-hidden="true"><svg viewBox="0 0 16 16"><path d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"/></svg></span>
</div>
<div class="container">
    <div class="issue_title_container">
        <h1 class="issue_title">
            <bdi>{{issue title}}</bdi>
            <span class="issue_number">#{{issue number}}</span>
        </h1>
    </div>
    <div class="state_label_wrapper">
        <div class="state_label_container">
            <div class="state_labels_aligner">
                {{state label}}
            </div>
        </div>
    </div>
    <div class="header_body_splitter"></div>
    <div class="body">
        <div class="content">
            <div class="content_container">
                <div class="content_header">
                    <span class="content_author">{{issue author}}</span>
                    <span>opened at {{issue created at}}</span>
                </div>
                <div class="content_body">
                    {{issue body}}
                </div>
            </div>
        </div>
        <div class="metadata">
            <div class="metadata_contents">
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Assignees</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Labels</h3></div>
                            <div class="metadata_labels_labels">
                                {{issue labels}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Type</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Projects</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Milestone</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Relationships</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Development</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
                <div class="metadata_content_container">
                    <div class="metadata_content">
                        <div class="metadata_content_contents">
                            <div class="metadata_content_title_container"><h3 class="metadata_content_title">Participants</h3></div>
                            <span class="empty_text">in-development</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{{style sheet}}
</html>
